*{
    background-color: white;    
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

#frenchToastBullet, #groundBeefBullet, #babyBreastsBullet{
    color: red;
    
}

.TestingFrench{
    color: blue;
    font-weight: bold;
    text-align: center;
    display: inline-flexbox;
}
